* {
  margin: 0px;
  padding: 0px;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: rgb(45, 45, 45);
  height: 100vh;
  width: 100vw;
}

.header, 
.footer {
  height: 5%;
  background-color: dodgerblue;
  color: antiquewhite;
}

.content {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 80% 20%;
  grid-template-areas:
   "editor nodegraph"
   "details details";
  height: 90%;
  width: 100%;
}

.editor {
  grid-area: editor;
  display: flex;
  flex-direction: column;
}

.editormenu {
  width: 100%;
  height: 4%;
  background-color: steelblue;
}

.primview {
  width: 100%;
  height: 96%;
  overflow: scroll;
  cursor: pointer;
}

.primtable {
  width: 100%;
  border-spacing: 0;
  font-size: 0.8rem;
  color: white;
}

.primtable th {
  text-align: left;
  color: white;
  background-color: blue;
}

.editortextarea {
  height: 96%;
  width: 100%;
}

.editortextarea textarea {
  height: 100%;
  width: 100%;
  resize: none;
  background-color: rgb(45, 45, 45);
  color: cyan;
}

.nodegraph {
  grid-area: nodegraph;
  width: 100%;
  height: 100%;
  background-color: rgb(24, 24, 24);
}

.grid {
  opacity: 0.2;
}

.material {
}

.shader-container {
  border: 2px solid red;
}

.material-background {
  fill:tomato;
}

.material-name,
.shader-name {
  fill: white;
  text-anchor: middle;
  font-size: 12px;
}

.material-coord,
.shader-coord {
  fill: gray;
  font-size: 5px;
}

.material-header {
  fill: orangered;
}

.material-icon-background, 
.shader-icon-background {
  fill: none;
  stroke: white;
}

.material-icon-label,
.shader-icon-label {
  fill: white;
  text-anchor: middle;
  font-size: 10px;
  font-weight: bold;
}

.material-type,
.shader-type {
  fill: white;
  font-size: 10px;
  font-weight: bold;
  text-anchor: end;
}

.shader-background {
  fill:mediumaquamarine
}

.shader-background--selected {
  fill:rgb(0, 64, 238);
  stroke: rgb(255, 0, 157);
  stroke-width: 2px;
}

.shader-header {
  fill:lightseagreen;
}

.shader-header--selected {
  fill: rgb(255, 0, 157);
}

.attr-circle-out {
  fill: gray;
}

.attr-circle-in {
  fill: yellow;
}

.attr-text-input {
  fill: white;
  font-size: 8px;
}

.attr-text-output {
  fill: white;
  font-size: 8px;
  text-anchor: end;
}


.details {
  grid-area: details;
  background-color: rgb(45, 45, 45);
}
